
#LogoContainer{
  margin-top:6%;
  text-align:center;
}

#FormContainer{
  margin-top:3%;
}
#Form{
  text-align:center;
}
#file{
  margin-left:6%;
}
#SubmitLabel{
  font-family:Arial;
  font-size:11px;
}
#essay{
  margin-top:3%;
}
#name{

}
